
h1.fr  {  
    color:rgb(255, 2, 2);
    font-size: 45px;
    font-family: sans-serif
}
.ad {
    color: rgb(255, 255, 255) 
}
h1 { 
    color:aliceblue
}
h4 {
    color:aliceblue

}
.hd {color:rgb(255, 2, 2)
}
.tc {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0); 
    font-size: 50px
}
.ab{
    color:white
}
.aa{
    padding-left: 240px;
    font-size: 40px
}
.mn{
    border: 20px double;
    color: white;
}


