h1.fr  {  
    color:rgb(255, 2, 2);
    font-size: 45px;
}
.ad {
    color: rgb(255, 255, 255) 
}
h1 { 
    color:aliceblue
}
h3 {
    color:aliceblue

}
.hd {color:rgb(255, 2, 2)
}
.tc {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0); 
    font-size: 50px
}